<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>

    <h1>Select a file :)</h1>
    <form method="POST" action="/fileUpload" enctype="multipart/form-data">

        <input name="image" type="file" placeholder="your image" multiple/>
        <button type="submit">Upload</button>

    </form>
    
</body>
</html>