{% extends 'base.html' %}

{% block title %}
  <title>Log in</title>
{% endblock %}


{% block style %}
  <style>
    .login-box {
      width: 360px;
      margin: auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .flash-message {
      color: #dc3545;
      margin-bottom: 15px;
    }
    .flash-message.success {
            color: #28a745; /* Green */
            margin-bottom: 15px;
        }

    .login-box .input-group {
      margin-bottom: 15px;
    }
    .login-box .icheck-primary {
      margin-top: 10px;
    }
  </style>
{% endblock %}

{% block content %}

<div class="login-page">
  <div class="login-box">
    <div class="card">
      <div class="card-body login-card-body">
          <p class="login-box-msg" style="font-size: 24px;">Login</p>

          {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                <div class="flash-message {{ message.tags }}">
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
            </div>
          {% endif %}

        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Username" name="username" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group">
            <input type="password" class="form-control" placeholder="Password" name="password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="icheck-primary">
                <input type="checkbox" id="remember">
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Log In</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

{% endblock %}