{% extends 'base.html' %}

{% block title %}
  <title>Dashboard</title>
{% endblock %}


{% block style %}
  <style>
    .container {
      max-width: 600px;
      margin: 50px auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .welcome-message {
      margin-bottom: 20px;
    }
    .btn {
      margin-right: 10px;
    }
  </style>
{% endblock %}

{% block content %}

<div class="sidebar-mini">
    <div class="container">
      <div class="welcome-message">
        <h1>Welcome {{ request.user }}</h1>
      </div>
    </div>
</div>

{% endblock %}